{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ actor }}
{% endblock %}
    {% block content %}
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/icons/actor_2.jpg' %}">
              <img src="{% static 'img/antje.jpg' %}" id="img-custom-circle-actor">
              <span style="font-size: 30px;" class="card-title"><b>{{ actor}}</b></span>
            </div>
          </div>
        </div>
        <h3 class="orange-text">Known for:</h3>
        <div class="divider"></div>
        {% for movie in movie_data %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <a href="{% url 'movie-details' movie.imdbID %}"><img src="{{ movie.Poster.url }}" height=""></a>
            </div>
            <div class="card-content">
              <span class="card-title"><b>{{ movie.Title }}</b></span>
              <span class="right"><i class="material-icons left">date_range</i>{{ movie.Year }}</span>
              <p>{{ movie.Type }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col s12 m12 center-align">
          {% if movie_data.has_previous %}
            <a href="?page={{ movie_data.previous_page_number }}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
          {% endif %}
          {% if movie_data.has_next %}
            <a href="?page={{ movie_data.next_page_number }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Load more</a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
