{% extends 'base.html' %}
{% load static %}
  {% block title %}
    Home
  {% endblock %}
  {% block banner %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center white-text text-lighten-2">Find your favourite movie</h1>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea autofocus type="submit" value="{{ request.GET.q }}" name="q" id="textarea1" class="materialize-textarea white-text"></textarea>
                  <label for="textarea1">Search</label>
                </div>
                <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row center">

        </div>
        <div class="row center">

        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/dark-banner.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>
  {% endblock %}
  {% block content %}
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">movie</i></h2>
            <h5 class="center">Find your favourite movie</h5>
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">library_add</i></h2>
            <h5 class="center">Create watchlist and more</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">rate_review</i></h2>
            <h5 class="center">Review your favourite movies</h5>
            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
  {% endblock %}
