{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ movie.Poster.url }}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"><b>{{ movie.Title }}</b></span>
          <span>{{ movie.Type }}</span>
          <br>
          <p>W{{ movie.Plot }}</p>
          <br>
          <div class="divider"></div>
          <div class="col s12 m12">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s4 center-align">
                  {% if review.user.profile.picture %}
                  <img src="{{ review.user.profile.picture.url }}" alt="" class="circle responsive-img">
                  {% else %}
                  <img src="{% static 'img/no_avatar.jpg' %}" alt="" class="circle responsive-img">
                  {% endif %}
                  <span><b>{{ review.user.first_name }} {{ review.user.last_name }}</b></span>
                  <span>@{{ review.user.username }}</span>
                </div>
                <div class="col s8">
                  <h5>Rated this movie</h5>
                  <h5>{{ review.rate }} / 10</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4>Review</h4>
<div class="divider"></div>
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><b>{{ review.user.first_name }} {{ review.user.last_name }}</b><span class="right">Review<i class="material-icons right">rate_review</i></span></span>
        <p>@{{ review.user.username }}</p>
        <p><b>{{ review.date }}</b></p>
        <br>
        {{ review.text }}
      </div>
      <div class="card-action">
        <a href="{% url 'review_like' review.user.username review.movie.imdbID %}"><i class="material-icons">thumb_up</i>{{ review.likes }}</a>
        <a href="{% url 'review_unlike' review.user.username review.movie.imdbID %}"><i class="material-icons">thumb_down</i>{{ review.unlikes }}</a>
      </div>
    </div>
  </div>
</div>
<h4>Comments</h4>
<div class="divider"></div>
<div class="col s12 m12">
  <div class="card">
    <div class="card-content">
      <ul class="collection">
        {% for comment in comments %}
        <li class="collection-item avatar">
          {% if comment.user.profile.picture %}
          <img src="{{ comment.user.profile.picture.url }}" alt="" class="circle responsive-img">
          {% else %}
          <img src="{% static 'img/no_avatar.jpg' %}" alt="" class="circle responsive-img">
          {% endif %}
          <span class="title"><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b></span>
          <p>@{{ comment.user.username }}</p>
          <p>{{ comment.date }}</p>
          <br>
          {{ comment.body }}
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="card-action">
      <form method="post" action="" role="form" class="col s12">
        {% csrf_token %}
        <div class="input-field col s12">
          {{ form.body }}
          <label for="textarea1">Comment</label>
        </div>
        <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Send</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
