{% extends 'base.html' %}
{% load static %}


{% block content %}
      <!--   Icon Section   -->
      <div class="row">

      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ movie.Poster.url }}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title"><b>{{ movie.Title }}</b></span>
              <span>{{ movie.Type }}</span>
              <br>
              <p>{{ movie.Plot }}</p>
              <br>
              <div class="divider"></div>
              <br>
              <form method="post" action="" role="form" class="col s12">
                {% csrf_token %}
               <div class="input-field col s12">
                  {{ form.rate }}
              </div>
              <div class="input-field col s12">
                  {{ form.text }}
                <label for="textarea1">Opinion</label>
              </div>

              <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">star</i>Rate</button>
            </form>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock %}
