{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-align">
  <form class="col s12" role="form" action="" method="POST">
    {% csrf_token %}
    {{ form.id }}
    <h3>Forget password</h3>
    <div class="row">
      <div class="input-field col s12">
        {{ form.email }}
        <label for="email">Your e-mail</label>
      </div>
    </div>
    {% if form.errors %}
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
    {% endif %}
    <button type="submit"class="waves-effect waves-light btn" name="action"><i class="material-icons left">person_pin</i>Request Code</button>
  </form>
</div>
{% endblock %}
